interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://synth.neurostore.xyz/api/meta-analyses/3opENJpHxRsH?nested=true
  response:
    body:
      string: '{"id": "3opENJpHxRsH", "created_at": "2023-05-23T20:49:55.237413+00:00",
        "updated_at": null, "user": "google-oauth2|100511154128738502835", "username":
        "James Kent", "name": "test Meta Analysis", "description": "", "public": false,
        "provenance": null, "tags": [], "specification": {"id": "REmcG9Tp2AHL", "created_at":
        "2023-05-23T20:49:54.591363+00:00", "updated_at": null, "user": "google-oauth2|100511154128738502835",
        "username": "James Kent", "type": "CBMA", "estimator": {"type": "ALE", "args":
        {"null_method": "approximate", "n_iters": 10000, "**kwargs": {}, "kernel__fwhm":
        6, "kernel__sample_size": null}}, "database_studyset": null, "filter": "included",
        "corrector": {"type": "FDRCorrector", "args": {"alpha": 0.05, "method": "indep"}},
        "conditions": [], "weights": []}, "neurostore_analysis": {"id": "3gSSboi5r9kb",
        "created_at": "2023-05-26T15:23:14.109717+00:00", "updated_at": "2023-11-23T00:04:34.159308+00:00",
        "neurostore_id": null, "exception": null, "traceback": "{\"type\": \"about:blank\",
        \"title\": \"Bad Request\", \"detail\": \"None is not of type ''string'' -
        ''study''\", \"status\": 400}", "status": "FAILED"}, "studyset": {"id": "fGQbNXTfjTgh",
        "created_at": "2023-05-23T20:49:54.873623+00:00", "updated_at": "2023-05-25T18:23:58.875269+00:00",
        "user": "google-oauth2|100511154128738502835", "username": "James Kent", "snapshot":
        {"snapshot": {"id": "n5zg69u5T4tM", "name": "Studyset for test", "user": "google-oauth2|100511154128738502835",
        "description": "", "publication": null, "doi": null, "pmid": null, "created_at":
        "2023-05-23T20:14:51.545431+00:00", "updated_at": null, "studies": [{"id":
        "xQhZkTxtHGZH", "created_at": "2023-05-19T23:38:25.513965+00:00", "updated_at":
        null, "user": null, "name": "Gender differences in neural correlates of recognition
        of happy and sad faces in  humans assessed by functional magnetic resonance
        imaging.", "description": null, "publication": "Neuroscience letters", "doi":
        "10.1016/S0304-3940(02)00965-5", "pmid": "12401549", "authors": "Lee TM, Liu
        HL, Hoosain R, Liao WT, Wu CT, Yuen KS, Chan CC, Fox PT, Gao JH", "year":
        2002, "metadata": null, "source": "neurosynth", "source_id": "12401549", "source_updated_at":
        null, "analyses": [{"id": "95c2k6ff2Pfh", "created_at": "2023-05-19T23:38:25.513965+00:00",
        "updated_at": null, "user": null, "study": "xQhZkTxtHGZH", "name": "37742",
        "description": null, "conditions": [], "weights": [], "points": [{"id": "4YxE46FqgFZX",
        "created_at": "2023-05-19T23:38:25.513965+00:00", "updated_at": null, "user":
        null, "coordinates": [3.0, 4.0, 6.0], "analysis": "95c2k6ff2Pfh", "kind":
        "unknown", "space": "TAL", "image": null, "label_id": null, "entities": [{"id":
        "4oVpCmnXRm5L", "created_at": "2023-05-19T23:38:25.513965+00:00", "updated_at":
        null, "level": "group", "label": "37742", "analysis": "95c2k6ff2Pfh"}], "values":
        []}, {"id": "7Kau8V3JAMAG", "created_at": "2023-05-19T23:38:25.513965+00:00",
        "updated_at": null, "user": null, "coordinates": [6.0, 7.0, 9.0], "analysis":
        "95c2k6ff2Pfh", "kind": "unknown", "space": "TAL", "image": null, "label_id":
        null, "entities": [{"id": "6P2VabqMfkQC", "created_at": "2023-05-19T23:38:25.513965+00:00",
        "updated_at": null, "level": "group", "label": "37742", "analysis": "95c2k6ff2Pfh"}],
        "values": []}, {"id": "3f2DGtrmyiWS", "created_at": "2023-05-19T23:38:25.513965+00:00",
        "updated_at": null, "user": null, "coordinates": [7.0, 18.0, 19.0], "analysis":
        "95c2k6ff2Pfh", "kind": "unknown", "space": "TAL", "image": null, "label_id":
        null, "entities": [{"id": "5W9RjR4aYzQf", "created_at": "2023-05-19T23:38:25.513965+00:00",
        "updated_at": null, "level": "group", "label": "37742", "analysis": "95c2k6ff2Pfh"}],
        "values": []}, {"id": "4inMEKCFjxrS", "created_at": "2023-05-19T23:38:25.513965+00:00",
        "updated_at": null, "user": null, "coordinates": [7.0, 18.0, 19.0], "analysis":
        "95c2k6ff2Pfh", "kind": "unknown", "space": "TAL", "image": null, "label_id":
        null, "entities": [{"id": "6HxiGzcs263e", "created_at": "2023-05-19T23:38:25.513965+00:00",
        "updated_at": null, "level": "group", "label": "37742", "analysis": "95c2k6ff2Pfh"}],
        "values": []}], "images": []}]}, {"id": "6qJcQ74oipDU", "created_at": "2023-05-19T23:38:25.513965+00:00",
        "updated_at": null, "user": null, "name": "Activation of the amygdala and
        anterior cingulate during nonconscious processing  of sad versus happy faces.",
        "description": null, "publication": "NeuroImage", "doi": "10.1016/j.neuroimage.2003.12.033",
        "pmid": "15050549", "authors": "Killgore WD, Yurgelun-Todd DA", "year": 2004,
        "metadata": null, "source": "neurosynth", "source_id":[...]
