interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://synth.neurostore.xyz/api/meta-analyses/made_up_id?nested=true
  response:
    body:
      string: "{\n  \"detail\": \"The requested URL was not found on the server. If
        you entered the URL manually please check your spelling and try again.\",\n
        \ \"status\": 404,\n  \"title\": \"Not Found\",\n  \"type\": \"about:blank\"\n}\n"
    headers:
      Content-Type:
      - application/problem+json
    status:
      code: 404
      message: NOT FOUND
version: 1
