interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.synth.neurostore.xyz/api/meta-analyses/ataCTPAt2LMw?nested=true
  response:
    body:
      string: "{\"id\":\"ataCTPAt2LMw\",\"created_at\":\"2026-02-18T13:37:47.126359+00:00\",\"updated_at\":null,\"user\":\"google-oauth2|118369890595388226948\",\"username\":\"Melike
        DEM\u0130R\",\"name\":\"Untitled MKDADensity Meta Analysis: included\",\"description\":\"MKDADensity
        meta analysis with FDRCorrector\",\"public\":true,\"provenance\":null,\"tags\":[],\"specification\":{\"id\":\"Ahx3YQYb8Jx4\",\"created_at\":\"2026-02-18T13:37:46.199314+00:00\",\"updated_at\":null,\"user\":\"google-oauth2|118369890595388226948\",\"username\":\"Melike
        DEM\u0130R\",\"type\":\"CBMA\",\"estimator\":{\"type\":\"MKDADensity\",\"args\":{\"null_method\":\"approximate\",\"n_iters\":5000,\"**kwargs\":{},\"kernel__r\":10,\"kernel__value\":1}},\"database_studyset\":null,\"filter\":\"included\",\"corrector\":{\"type\":\"FDRCorrector\",\"args\":{\"method\":\"indep\",\"alpha\":0.05}},\"conditions\":[\"true\"],\"weights\":[1.0]},\"neurostore_analysis\":{\"created_at\":\"2026-02-18T13:37:47.132932+00:00\",\"updated_at\":\"2026-04-21T01:52:18.670671+00:00\",\"neurostore_id\":\"cmc3KDLwQCf3\",\"exception\":\"HTTPConnectionPool(host='store_nginx',
        port=80): Max retries exceeded with url: /api/analyses/cmc3KDLwQCf3 (Caused
        by NameResolutionError(\\\"HTTPConnection(host='store_nginx', port=80): Failed
        to resolve 'store_nginx' ([Errno -3] Temporary failure in name resolution)\\\"))\",\"traceback\":\"Traceback
        (most recent call last):\\n  File \\\"/usr/local/lib/python3.14/site-packages/urllib3/connection.py\\\",
        line 204, in _new_conn\\n    sock = connection.create_connection(\\n        (self._dns_host,
        self.port),\\n    ...<2 lines>...\\n        socket_options=self.socket_options,\\n
        \   )\\n  File \\\"/usr/local/lib/python3.14/site-packages/urllib3/util/connection.py\\\",
        line 60, in create_connection\\n    for res in socket.getaddrinfo(host, port[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.synth.neurostore.xyz/api/snapshot-studysets/5XzRwFdokxRN
  response:
    body:
      string: "{\"id\":\"5XzRwFdokxRN\",\"created_at\":\"2026-04-21T01:52:15.435290+00:00\",\"updated_at\":null,\"user\":\"google-oauth2|118369890595388226948\",\"username\":\"Melike
        DEM\u0130R\",\"snapshot\":{\"id\":\"ToisksSserJp\",\"doi\":null,\"name\":\"Studyset
        for Untitled\",\"pmid\":null,\"user\":\"google-oauth2|118369890595388226948\",\"studies\":[{\"id\":\"49Bs2pQQbLB6\",\"doi\":\"10.1192/bjp.bp.111.099432\",\"name\":\"Visual
        cortex in dementia with Lewy bodies: magnetic resonance imaging study\",\"pmid\":\"22500014\",\"user\":null,\"year\":2012,\"source\":\"llm\",\"authors\":\"John-Paul
        Taylor; M. Firbank; Jiabao He; Nicola Barnett; S. Pearce; Anthea Livingstone;
        Q. Vuong; I. McKeith; J. O'Brien\",\"analyses\":[{\"id\":\"zeGy5kT3FQSa\",\"name\":\"Control
        group\",\"user\":null,\"images\":[],\"points\":[{\"id\":\"qFiJwjQXgaVd\",\"kind\":null,\"image\":null,\"space\":\"MNI\",\"values\":[{\"kind\":\"T\",\"value\":6.8}],\"label_id\":null,\"coordinates\":[9.0,-93.0,-9.0]}],\"weights\":[],\"metadata\":{\"table\":{\"table_number\":2,\"table_metadata\":{\"table_id\":\"T2\",\"data_path\":\"/data/alejandro/projects/ns-pond/source/mega-ni-dataset/pubget_searches/original/fmri_title_abstract/query_953be51911e9f62884cbc03b0ac4f919/articles/702/pmcid_3365275/tables/table_001.csv\",\"info_path\":\"/data/alejandro/projects/ns-pond/source/mega-ni-dataset/pubget_searches/original/fmri_title_abstract/query_953be51911e9f62884cbc03b0ac4f919/articles/702/pmcid_3365275/tables/table_001_info.json\",\"table_label\":\"Table
        2\",\"coordinates_path\":\"/data/alejandro/projects/ns-pond/source/mega-ni-dataset/pubget_searches/extracted/22500014-10-1192-bjp-bp-111-099432-pmc3365275/tables/t2_coordinates.csv\"},\"original_table_id\":\"t2\"},\"table_metadata\":{\"table_id\":\"T2\",\"data_path\":\"/data/alejandro/projects/ns-pond/source/mega-ni-dataset/pubget_searches/original/fmri_title_abstract/query_953be51911e9f62884cbc03b0ac4f919/articles/702/pmcid_3365275/tables/table_001.csv\",\"info_path\":\"/data/alejandro/projects/ns-pond/source/mega-ni-dataset/pubget_searches/original/fmri_title_abstract/query_953be51911e9f62884cbc03b0ac4f919/articles/702/pmcid_3365275/tables/table_001_info.json\",\"table_label\":\"Table
        2\",\"coordinates_path\":\"/data/alejandro/projects/ns-pond/source/mega-ni-dataset/pubget_searches/extracted/22500014-10-1192-bjp-bp-111-099432-pmc3365275/tables/t2_coordinates.csv\"},\"sanitized_table_id\":\"t2\"},\"conditions\":[],\"description\":\"Checkerboard
        stimuli: anatomical locations of BOLD activations in participants to visual
        stimulia\"},{\"id\":\"7FG7WqUW4Nek\",\"name\":\"DLB group\",\"user\":null,\"images\":[],\"points\":[{\"id\":\"t4immYcTTr6k\",\"kind\":null,\"image\":null,\"space\":\"MNI\",\"values\":[{\"kind\":\"T\",\"value\":6.82}],\"label_id\":null,\"coordinates\":[18.0,-93.0,0.0]}],\"weights\":[],\"metadata\":{\"table\":{\"table_number\":2,\"table_metadata\":{\"table_id\":\"T2\",\"data_path\":\"/data/alejandro/projects/ns-pond/source[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.synth.neurostore.xyz/api/snapshot-annotations/UCYSGJ5nrd3o
  response:
    body:
      string: "{\"id\":\"UCYSGJ5nrd3o\",\"created_at\":\"2026-04-21T01:52:15.435290+00:00\",\"updated_at\":null,\"user\":\"google-oauth2|118369890595388226948\",\"username\":\"Melike
        DEM\u0130R\",\"snapshot\":{\"id\":\"CeQLLXWepB3J\",\"name\":\"Annotation for
        studyset ToisksSserJp\",\"user\":\"google-oauth2|118369890595388226948\",\"notes\":[{\"id\":\"CeQLLXWepB3J_zeGy5kT3FQSa\",\"note\":{\"included\":false},\"study\":\"49Bs2pQQbLB6\",\"authors\":\"John-Paul
        Taylor; M. Firbank; Jiabao He; Nicola Barnett; S. Pearce; Anthea Livingstone;
        Q. Vuong; I. McKeith; J. O'Brien\",\"analysis\":\"zeGy5kT3FQSa\",\"study_name\":\"Visual
        cortex in dementia with Lewy bodies: magnetic resonance imaging study\",\"study_year\":2012,\"publication\":\"The
        British journal of psychiatry : the journal of mental science\",\"analysis_name\":\"Control
        group\"},{\"id\":\"CeQLLXWepB3J_7FG7WqUW4Nek\",\"note\":{\"included\":false},\"study\":\"49Bs2pQQbLB6\",\"authors\":\"John-Paul
        Taylor; M. Firbank; Jiabao He; Nicola Barnett; S. Pearce; Anthea Livingstone;
        Q. Vuong; I. McKeith; J. O'Brien\",\"analysis\":\"7FG7WqUW4Nek\",\"study_name\":\"Visual
        cortex in dementia with Lewy bodies: magnetic resonance imaging study\",\"study_year\":2012,\"publication\":\"The
        British journal of psychiatry : the journ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.neurostore.xyz/api/studysets/ToisksSserJp?nested=true
  response:
    body:
      string: "{\"id\":\"ToisksSserJp\",\"name\":\"Studyset for Untitled\",\"user\":\"google-oauth2|118369890595388226948\",\"description\":\"\",\"publication\":null,\"doi\":null,\"pmid\":null,\"created_at\":\"2026-02-18T13:33:03.784175+00:00\",\"updated_at\":null,\"studies\":[{\"id\":\"49Bs2pQQbLB6\",\"created_at\":\"2025-12-04T10:06:46.7396[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.neurostore.xyz/api/annotations/CeQLLXWepB3J
  response:
    body:
      string: "{\"id\":\"CeQLLXWepB3J\",\"user\":\"google-oauth2|118369890595388226948\",\"username\":\"Melike
        DEM\u0130R\",\"created_at\":\"2026-02-18T13:33:04.377514+00:00\",\"updated_at\":null,\"studyset\":\"ToisksSserJp\",\"notes\":[{\"id\":\"CeQLLXWepB3J_zeGy5kT3FQSa\",\"note\":{\"included\":false},\"analysis\":\"zeGy5kT3FQSa\",\"study\":\"49Bs2pQQbLB6\",\"study_name\":\"Visual
        cortex in dementia with Lewy bodies: magnetic resonance imaging study\",\"analysis_name\":\"Control
        group\",\"study_year\":2012,\"authors\":\"John-Paul Taylor; M. Firbank; Jiabao
        He; Nicola Barnett; S. Pearce; Anthea Livingstone; Q. Vuong; I. McKeith; J.
        O'Brien\",\"publication\":\"The Brit[...]
