interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.synth.neurostore.xyz/api/meta-analyses/jeqZ65Bsnniw?nested=true
  response:
    body:
      string: '{"id":"jeqZ65Bsnniw","created_at":"2026-04-17T07:00:13.813597+00:00","updated_at":null,"user":"github|12564882","username":"James
        Kent","name":"Untitled MKDADensity Meta Analysis: included","description":"MKDADensity
        meta analysis with FDRCorrector","public":true,"provenance":null,"tags":[],"specification":{"id":"XJAK23tWf8im","created_at":"2026-04-17T07:00:13.373598+00:00","updated_at":null,"user":"github|12564882","username":"James
        Kent","type":"CBMA","estimator":{"type":"MKDADensity","args":{"null_method":"approximate","n_iters":5000,"**kwargs":{},"kernel__r":10,"kernel__value":1}},"database_studyset":null,"filter":"included","corrector":{"type":"FDRCorrector","args":{"method":"indep","alpha":0.05}},"conditions":["true"],"weights":[1.0]},"neurostore_analysis":{"created_at":"2026-04-17T07:00:13.828268+00:00","updated_at":null,"neurostore_id":null,"exception":null,"traceback":null,"status":"PENDING"},"project":"46YbVYRGu2bb","run_key":"4Wjr9ilSgqnYLO-5TH34aA","snapshots":[],"results":[],"neurostore_url":null,"neurostore_studyset":{"id":"MYFAqDMNBryo","created_at":"2026-04-17T06:58:42.781220+00:00","updated_at":null,"studysets":[{"id":"MWnYF2ExSvsN","md5":null}]},"neurostore_annotation":{"id":"ExiEeALEEvUb","annotations":[{"id":"5KgfxAXh4FzA","md5":null}]}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.synth.neurostore.xyz/api/snapshot-studysets/MWnYF2ExSvsN
  response:
    body:
      string: '{"id":"MWnYF2ExSvsN","created_at":"2026-04-17T07:00:13.594198+00:00","updated_at":null,"user":"github|12564882","username":"James
        Kent","snapshot":null,"version":null,"annotations":[{"id":"5KgfxAXh4FzA","md5":null}],"neurostore_id":"MYFAqDMNBryo","url":"https://neurostore.org/api/studysets/MYFAqDMNBryo"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.synth.neurostore.xyz/api/snapshot-annotations/5KgfxAXh4FzA
  response:
    body:
      string: '{"id":"5KgfxAXh4FzA","created_at":"2026-04-17T07:00:13.705017+00:00","updated_at":null,"user":"github|12564882","username":"James
        Kent","snapshot":null,"studyset":"MYFAqDMNBryo","snapshot_studyset":{"id":"MWnYF2ExSvsN","md5":null},"neurostore_id":"ExiEeALEEvUb","url":"https://neurostore.org/api/annotations/ExiEeALEEvUb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.neurostore.xyz/api/studysets/MYFAqDMNBryo?nested=true
  response:
    body:
      string: "{\"id\":\"MYFAqDMNBryo\",\"name\":\"Untitled Studyset\",\"user\":\"github|12564882\",\"description\":\"\",\"publication\":null,\"doi\":null,\"pmid\":null,\"created_at\":\"2026-04-17T06:58:39.799954+00:00\",\"updated_at\":null,\"studies\":[{\"id\":\"3i7ozQKYGb5Z\",\"created_at\":\"2022-06-02T18:11:39.470951+00:00\",\"updated_at\":\"2024-03-22T17:11:09.932931+00:00\",\"user\":null,\"name\":\"The
        impact of early musical training on striatal functional connectivity\",\"description\":\"In
        this paper we measured resting state fMRI data for a group of nonmusicians
        and musicians (piano players), the latter started their musical training either
        early in life (<7 years of age) or later in life.\\r\\n\\r\\nPlease refer
        to the original manuscript for details:\\r\\n\\r\\nvan Vugt FT, Hartmann K,
        Altenmueller E, Mohammadi B, Margulies DS. The impact of early musical training
        on striatal functional connectivity. NeuroImage. doi: 10.1016/j.neuroimage.2021.118251\",\"publication\":\"NeuroImage\",\"doi\":\"10.1016/j.neuroimage.2021.118251\",\"pmid\":\"34116147\",\"authors\":\"F.T.
        van Vugt, K. Hartmann, E. Altenm\xFCller, B. Mohammadi and D.S. Margulies\",\"year\":2021,\"metadata\":{\"url\":\"https://neurovault.org/collections/4589/\",\"owner\":4555,\"private\":false,\"add_date\":\"2018-12-07T19:57:39.843549Z\",\"echo_time\":null,\"paper_url\":\"https://linkinghub.elsevier.com/retrieve/pii/S1053811921005280\",\"flip_angle\":null,\"handedness\":null,\"owner_name\":\"florisvanvugt\",\"communities\":[],\"matrix_size\":null,\"modify_date\":\"2021-06-10T17:02:18.808044Z\",\"contributors\":\"\",\"doi_add_date\":\"2021-06-10T17:02:18.804107Z\",\"download_url\":\"https://neurovault.org/collections/4589/download\",\"optimization\":null,\"scanner_make\":\"\",\"field_of_view\":null,\"scanner_model\":\"\",\"skip_distance\":null,\"field_strength\":null,\"length_of_runs\":null,\"pulse_sequence\":\"\",\"smoothing_fwhm\":null,\"smoothing_type\":\"\",\"type_of_design\":null,\"used_smoothing\":null,\"quality_control\":\"\",\"repetition_time\":null,\"slice_thickness\":null,\"subject_age_max\":null,\"subject_age_min\":null,\"coordinate_space\":null,\"full_dataset_url\":\"\",\"group_comparison\":null,\"group_model_type\":\"\",\"length_of_blocks\":null,\"length_of_trials\":\"\",\"number_of_images\":12,\"parallel_imaging\":\"\",\"software_package\":\"\",\"software_version\":\"\",\"subject_age_mean\":null,\"group_description\":\"Nonmusicians,
        early onset piano players, late onset piano players\",\"object_image_type\":\"\",\"target_resolution\":null,\"used_b0_unwarping\":null,\"optimization_method\":\"\",\"group_inference_type\":null,\"interpolation_method\":\"\",\"order_of_acquisition\":null,\"resampled_voxel_size\":null,\"autocorrelation_model\":\"\",\"b0_unwarping_software\":\"\",\"group_estimation_type\":\"\",\"nutbrain_hunger_state\":null,\"target_template_image\":\"\",\"used_high_pass_filter\":null,\"group_model_multilevel\":\"\",\"number_of_imaging_runs\":null,\"used_motion_correction\":null,\"used_motion_regressors\":null,\"used_orthogonalization\":null,\"acquisition_orientation\":\"\",\"group_modeling_software\":\"\",\"group_repeated_measures\":null,\"high_pass_filter_method\":\"\",\"intrasubject_model_type\":\"\",\"motion_correction_metric\":\"\",\"nonlinear_transform_type\":\"\",\"nutbrain_odor_conditions\":\"\",\"proportion_male_subjects\":null,\"nutbrain_food_choice_type\":\"\",\"nutbrain_taste_conditions\":\"\",\"used_temporal_derivatives\":null,\"motion_correction_software\":\"\",\"motion_correction_reference\":\"\",\"number_of_rejected_subjects\":null,\"transform_similarity_metric\":\"\",\"used_dispersion_derivatives\":null,\"inclusion_exclusion_criteria\":\"\",\"intrasubject_estimation_type\":\"\",\"number_of_experimental_units\":null,\"used_reaction_time_regressor\":null,\"used_slice_timing_correction\":null,\"hemodynamic_response_function\":\"\",\"orthogonalization_description\":\"\",\"group_repeated_measures_method\":\"\",\"intrasubject_modeling_software\":\"\",\"used_intersubject_registration\":null,\"motion_correction_interpolation\":\"\",\"functional_coregistration_method\":\"\",\"intersubject_transformation_type\":null,\"nutbrain_food_viewing_conditions\":\"\",\"slice_timing_correction_software\":\"\",\"order_of_preprocessing_operations\":\"\",\"intersubject_registration_software\":\"\",\"used_motion_susceptibiity_correction\":null,\"functional_coregistered_to_structural\":null},\"source\":\"neurovault\",\"source_id\":\"4589\",\"source_updated_at\":null,\"analyses\":[{\"id\":\"5KLnjKXiR4r7\",\"user\":null,\"name\":\"early
        vs late 03VSsR\",\"metadata\":null,\"description\":\"5.0.11\",\"conditions\":[{\"id\":\"4CSp82Ed9enw\",\"user\":null,\"name\":\"None
        / Other\",\"description\":null}],\"weights\":[1.0],\"points\":[],\"images\":[{\"id\":\"KZwa3ASqYdqW\",\"user\":null,\"url\":\"https://neurovault.org/media/images/4589/early_vs_late_03VSsR.nii.gz\",\"space\":\"MNI\",\"value_type\":\"other\",\"filename\":\"early_vs_late_03VSsR.nii.gz\",\"add_date\":\"2018-12-07T19:57:47.874142+00:00\"}]},{\"id\":\"Tc7b8zcNy3B6\",\"user\":null,\"name\":\"early
        vs late 05DCR\",\"metadata\":null,\"description\":\"5.0.11\",\"conditions\":[{\"id\":\"4CSp82Ed9enw\",\"user\":null,\"name\":\"None
        / Other\",\"description\":null}],\"weights\":[1.0],\"points\":[],\"images\":[{\"id\":\"4bkpTymY7NBD\",\"user\":null,\"url\":\"https://neurovault.org/media/images/4589/early_vs_late_05DCR.nii.gz\",\"space\":\"MNI[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.neurostore.xyz/api/annotations/ExiEeALEEvUb
  response:
    body:
      string: "{\"id\":\"ExiEeALEEvUb\",\"user\":\"github|12564882\",\"username\":\"James
        Kent\",\"created_at\":\"2026-04-17T06:58:40.041544+00:00\",\"updated_at\":null,\"studyset\":\"MYFAqDMNBryo\",\"notes\":[{\"id\":\"ExiEeALEEvUb_57E6N9jmK8PD\",\"note\":{\"included\":true},\"analysis\":\"57E6N9jmK8PD\",\"study\":\"3TcQUrv9AqfE\",\"study_name\":\"Music
        listening engages specific cortical regions within the temporal lobes: Differences
        between musicians and non-musicians.\",\"analysis_name\":\"Table 1\",\"study_year\":2014,\"authors\":\"Angulo-Perkins
        A, Aube W, Peretz I, Barrios FA, Armony JL, Concha L\",\"publication\":\"Cortex;
        a journal devoted to the study of the nervous system and behavior\"},{\"id\":\"ExiEeALEEvUb_5KLnjKXiR4r7\",\"note\":{\"included\":true},\"analysis\":\"5KLnjKXiR4r7\",\"study\":\"3i7ozQKYGb5Z\",\"study_name\":\"The
        impact of early musical training on striatal functional connectivity\",\"analysis_name\":\"early
        vs late 03VSsR\",\"study_year\":2021,\"aut[...]
