interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.synth.neurostore.xyz/api/meta-analyses/made_up_id?nested=true
  response:
    body:
      string: '{"type": "about:blank", "title": "Not Found", "detail": "The requested
        URL was not found on the server. If you entered the URL manually please check
        your spelling and try again.", "status": 404}'
    headers:
      Content-Type:
      - application/problem+json
    status:
      code: 404
      message: Not Found
version: 1
