interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.synth.neurostore.xyz/api/meta-analyses/ataCTPAt2LMw?nested=true
  response:
    body:
      string: "{\"id\":\"ataCTPAt2LMw\",\"created_at\":\"2026-02-18T13:37:47.126359+00:00\",\"updated_at\":null,\"user\":\"google-oauth2|118369890595388226948\",\"username\":\"Melike
        DEM\u0130R\",\"name\":\"Untitled MKDADensity Meta Analysis: included\",\"description\":\"MKDADensity
        meta analysis with FDRCorrector\",\"public\":true,\"provenance\":null,\"tags\":[],\"specification\":{\"id\":\"Ahx3YQYb8Jx4\",\"created_at\":\"2026-02-18T13:37:46.199314+00:00\",\"updated_at\":null,\"user\":\"google-oauth2|118369890595388226948\",\"username\":\"Melike
        DEM\u0130R\",\"type\":\"CBMA\",\"estimator\":{\"type\":\"MKDADensity\",\"args\":{\"null_method\":\"approximate\",\"n_iters\":5000,\"**kwargs\":{},\"kernel__r\":10,\"kernel__value\":1}},\"database_studyset\":null,\"filter\":\"included\",\"corrector\":{\"type\":\"FDRCorrector\",\"args\":{\"method\":\"indep\",\"alpha\":0.05}},\"conditions\":[\"true\"],\"weights\":[1.0]},\"neurostore_analysis\":{\"created_at\":\"2026-02-18T13:37:47.132932+00:00\",\"updated_at\":\"2026-04-21T01:52:18.670671+00:00\",\"neurostore_id\":\"cmc3KDLwQCf3\",\"exception\":\"HTTPConnectionPool(host='store_nginx',
        port=80): Max retries exceeded with url: /api/analyses/cmc3KDLwQCf3 (Caused
        by NameResolutionError(\\\"HTTPConnection(host='store_nginx', port=80): Failed
        to resolve 'store_nginx' ([Errno -3] Temporary failure in name resolution)\\\"))\",\"traceback\":\"Traceback
        (most recent call last):\\n  File \\\"/usr/local/lib/python3.14/site-packages/urllib3/connection.py\\\",
        line 204, in _new_conn\\n    sock = connection.create_connection(\\n        (self._dns_host,
        self.port),\\n    ...<2 lines>...\\n        socket_options=self.socket_options,\\n
        \   )\\n  File \\\"/usr/local/lib/python3.14/site-packages/urllib3/util/connection.py\\\",
        line 60, in create_connection\\n    for res in socket.getaddrinfo(host, port[...]
