interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.synth.neurostore.xyz/api/meta-analyses/QEngL8uVonCU?nested=true
  response:
    body:
      string: '{"id":"QEngL8uVonCU","created_at":"2024-01-18T01:16:00.649868+00:00","updated_at":null,"user":"google-oauth2|106569899084750504852","username":"Alejandro
        De La Vega","name":"MKDAChi2 - MonteCarlo - 1000","description":"MKDAChi2
        meta analysis with FWECorrector","public":false,"provenance":null,"tags":[],"specification":{"id":"8LHWg6upkwx6","created_at":"2024-01-18T01:16:00.323721+00:00","updated_at":"2024-01-18T16:26:17.571960+00:00","user":"google-oauth2|106569899084750504852","username":"Alejandro
        De La Vega","type":"CBMA","estimator":{"type":"MKDAChi2","args":{"prior":0.5,"**kwargs":{},"kernel__r":10,"kernel__value":1}},"database_studyset":"neurosynth","filter":"included","corrector":{"type":"FWECorrector","args":{"**kwargs":{"n_cores":9,"n_iters":1000},"method":"montecarlo"}},"conditions":["true"],"weights":[1.0]},"neurostore_analysis":{"created_at":"2024-01-18T01:16:00.716460+00:00","updated_at":"2024-01-18T17:23:23.684498+00:00","neurostore_id":"5iucaVSZtGNB","exception":null,"traceback":null,"status":"OK"},"project":"53wG7WVeyans","run_key":"wMXQVcpAQpMoInskH0txlA","snapshots":[{"result_id":"5yraMCdwSK33","snapshot_studyset_id":"44wEyaFzJn5v","snapshot_annotation_id":"4qEuqxHHbkBF"}],"results":["5yraMCdwSK33"],"neurostore_url":"https://neurostore.org/api/analyses/5iucaVSZtGNB","neurostore_studyset":{"id":"5X2cQ4pEbzdd","created_at":"2024-01-16T23:33:42.486130+00:00","updated_at":null,"studysets":[{"id":"6nr5Uv89n8Rx","md5":null},{"id":"44wEyaFzJn5v","md5":"b755b7ba0dc99bc967be42ecbfa7e006"}]},"neurostore_annotation":{"id":"8PFuHjy48ejw","annotations":[{"id":"5VJ42cDtHYeS","md5":null},{"id":"4qEuqxHHbkBF","md5":"493c0d8541cdb1a7f238210acdcb8525"}]}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
